{% extends 'portfolio/base.html' %}
{% load staticfiles %}
{% block content %}
            {% if user.is_authenticated %}
                <div class="page-container">
                    <h2 class="hello">Hello {{ user.username|capfirst }},</h2>
                    <p>Welcome to the Onspar Shopping Website! Omaha's best online store!</p>

                </div>
            {% endif %}
            <div class="content container">
              <div class="row">
                  <div class="col-sm-4 col-md-4">
                      <div class="panel panel-default">
                        <div class="panel-body">
                          <img src="{% static "images/mobile2.jpg" %}" alt="Client" width="150" height="100 class="img-responsive"/>
                                  <h2>Mobiles</h2>
                                  <p>View Moblies</p>
                                  {% if user.is_authenticated %}
                                      <a class="btn btn-primary" href="#"
                                            role="button">
                                           View Details &nbsp;<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                      </a>
                                  {% endif %}
                          </div>
                      </div>
                  </div>

                  <div class="col-sm-4 col-md-4">
                      <div class="panel panel-default">
                        <div class="panel-body">
                          <img src="{% static "images/laptop.jpg" %}" alt="Laptops" width="150" height="100 class="img-responsive"/>
                              <h2>Laptops</h2>
                              <p>View Laptops</p>
                              <a class="btn btn-primary" href="#"
                                     role="button">
                                  View Details &nbsp;<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                        </div>
                      </div>
                    </div>

                  <div class="col-sm-4 col-md-4">
                      <div class="panel panel-default">
                        <div class="panel-body">
                          <img src="{% static "images/accessories.jpg" %}" alt="Shop" width="150" height="100 class="img-responsive"/>
                              <h2>Shop</h2>
                              <p>Browse accessories</p>
                              <a class="btn btn-primary" href="#"
                                     role="button">
                                  View Details &nbsp;<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                          </div>
                      </div>
                    </div>







              </div>

              </div>
{% endblock %}
